<div>
    <h2 class="my-3"> reset password:  </h2>
    <form [formGroup]="resetform" (ngSubmit)="resetpass(resetform)">
        <h2 *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</h2>
       
        <div class="mb-3">
            <label for="">email</label>
            <input [class.is-invalid]="resetform.get('email')?.errors&& resetform.get('email')?.touched"
                [class.is-valid]="resetform.get('email')?.errors == null"
             formControlName="email" type="email" class="form-control">
            <div *ngIf="resetform.get('email')?.errors&& resetform.get('email')?.touched" class="alert alert-danger">
                <p *ngIf="resetform.get('email')?.getError('required')">required input</p>
                <p *ngIf="resetform.get('email')?.getError('email')">enter avalid email</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="">new password</label>
            <input [class.is-invalid]="resetform.get('newPassword')?.errors&& resetform.get('newPassword')?.touched"
            [class.is-valid]="resetform.get('newPassword')?.errors == null"
            formControlName="newPassword" type="password" class="form-control">
            <div *ngIf="resetform.get('newPassword')?.errors&& resetform.get('newPassword')?.touched" class="alert alert-danger">
                <p *ngIf="resetform.get('newPassword')?.getError('required')">required input</p>
                <p *ngIf="resetform.get('newPassword')?.getError('pattern')">enter avalid newPassword</p>
            </div>
        </div>
      
     
        <button [disabled]="resetform.invalid" type="submit" class="btn btn-success">
            <span *ngIf="isloading">
                <i class="fa-solid fa-spinner fa-spin"></i>
            </span>
            reset password</button>
    </form>
</div>