.logo i{
    color: green;
    font-size: 23px;
    padding-right: 3px;
}
.nav-link{
    font-size: 20px;
}
.registeration a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.icons{
    cursor: pointer;
}
.navbar{
   width: 100%;

}

// @media screen and (max-width: 768px){
//     .navbar-expand-sm .navbar-nav .nav-link {
//     padding-right: 0;
//     padding-left:5px ;
//     // display: ;
    
// }
// .navbar-nav{
//     position: absolute;
//     left: 50px;
//     top: 2px;
// }
// .icons{
//     display: inline-block;
// }
// }
