<div class="forgotPassword">
    <form class="mt-5" [formGroup]="forgotForm" (ngSubmit)="forgotPassword(forgotForm)">
    <label for="email" class="text-main my-2  fs-5">email</label>
    <input formControlName="email" type="email" id="email" class="form-control" >
    <p class="mt-2 text-main">{{successMessage}}</p>
    <p class="mt-2 text-danger">{{errMessage}}</p>
    <button class="float-end my-4 text-light bg-main rounded-2  p-1">send code</button>
</form>
</div>
<div class="verifyCode d-none">
    <form class="mt-5" [formGroup]="verifyForm" (ngSubmit)="verifyCode(verifyForm)">
    <label for="resetCode" class="text-main my-2  fs-5">resetCode</label>
    <input formControlName="resetCode" type="email" id="resetCode" class="form-control" >
    <!-- <p class="mt-2 text-main">{{successMessage}}</p>
    <p class="mt-2 text-danger">{{errMessage}}</p> -->
    <button class="float-end my-4 text-light bg-main rounded-2  p-1">send code</button>
</form>
</div>
